.likertButton1 {
  background-image: url(./images/button_strongly_disagree.png);
}

.likertButton2 {
  background-image: url(./images/button_disagree.png);
}

.likertButton3 {
  background-image: url(./images/button_neutral.png);
}

.likertButton4 {
  background-image: url(./images/button_agree.png);
}

.likertButton5 {
  background-image: url(./images/button_strongly_agree.png);
}

.likertButton {
  width: 50px;
  height: 50px;
  background-size: contain;
  overflow: hidden;
  float: left;
  margin-left: 15px;
}

.likertButton:last-child {
  margin-right: 0;
}

.likertButtonDimmed {
  opacity: 0.3;
}
