.likertButton1 {
  background-image: url(./images/button_strongly_disagree.png);
}

.likertButton2 {
  background-image: url(./images/button_disagree.png);
}

.likertButton3 {
  background-image: url(./images/button_neutral.png);
}

.likertButton4 {
  background-image: url(./images/button_agree.png);
}

.likertButton5 {
  background-image: url(./images/button_strongly_agree.png);
}

.likertButton {
  width: 40px;
  height: 40px;
  background-size: contain;
  overflow: hidden;
  margin-left: 15px;
  display: inline-block;
  cursor: pointer;
}

@media only screen and (max-width: 300px) {
  .likertButton {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 220px) {
  .likertButton {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
}

.likertButton:first-child {
  margin-left: 0;
}

.likertButtonDimmed {
  opacity: 0.3;
}

.mcqButton{
  display: block;
  margin: 0 auto;
  max-width: 600px;
  min-height: 25px;
  cursor: pointer;
  padding: 7px;
  background-color: white;
  margin-top: 7px;
  margin-bottom: 7px;
  color: rgb(0,172,193);
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 3px lightgrey;
  border-radius: 5px;
  transition: color 0.3s ease-in, background-color 0.3s ease-in, opacity 0.3s ease-in;
}
.mcqButton:hover{
  opacity: 0.4;
  color: white;
  background-color: rgb(0,172,193);
  box-shadow: 0px 0px 2px grey;
}
.mcqButton:focus{
  opacity: 0.4;
  color: white;
  background-color: rgb(0,172,193);
  box-shadow: 0px 0px 2px grey;
}
.mcqButton:active{
  opacity: 0.8;
  color: grey;
  background-color: rgb(0,172,193);
  box-shadow: 0px 0px 3px rgb(0,172,193);
}
.activeMCQ{
  opacity: 0.8;
  color: grey;
  background-color: rgb(0,172,193);
  box-shadow: 0px 0px 3px rgb(0,172,193);
}
