.likertButton1 {
    background-image: url(./images/button_strongly_disagree.png);
}

.likertButton2 {
    background-image: url(./images/button_disagree.png);
}

.likertButton3 {
    background-image: url(./images/button_neutral.png);
}

.likertButton4 {
    background-image: url(./images/button_agree.png);
}

.likertButton5 {
    background-image: url(./images/button_strongly_agree.png);
}

.likertButton {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat !important;
    overflow: hidden;
    margin-left: 15px;
    display: inline-block;
    cursor: pointer;
}

@media only screen and (max-width: 300px) {
    .likertButton {
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 220px) {
    .likertButton {
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }
}

.likertButton:first-child {
    margin-left: 0;
}

.likertButtonDimmed {
    opacity: 0.7;
    transform: scale(1);
}

.likertButtonSelected {
    opacity: 0.9;
    transform: scale(1);
    border: 2px dotted #1B8AAE;
    border-radius: 100px;
    padding: 0;
}

.mcqButton {
    display: block;
    margin: 8px auto;
    max-width: 600px;
    font-weight: 400;
    color: #444;
    min-height: 18px;
    cursor: pointer;
    padding: 3px;
    background-color: white;
    text-align: left;
    border: 1px solid #ccc;
    /*box-shadow: rgba(0, 0, 0, 0.11) 1px 2px 3px;*/
    border-radius: 4px;
    transition: all 0.2s ease-in;
}


/*.mcqButton:before {
    content: " ";
    position: relative;
    top: 0px;
    background-image:  url(./images/box.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 0px;
}*/

.mcqButton:hover {
    border: 1px solid #1B8AAE;
    color: #1B8AAE;
}


/*.mcqButton:hover:before {
    content: " ";
    position: relative;
    top: 0px;
    background: url(./images/boxtick.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
}*/

.mcqButton:focus {
    opacity: 0.4;
    color: white;
    background-color: rgb(0, 172, 193);
}


/*.activeMCQ:before {
    content: " ";
    position: relative;
    top: 0px;
    background: url(./images/boxtick.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
}
*/

.activeMCQ {
    opacity: 0.8;
    color: white; 
    border: 2px dotted #fff;
    background-color: #1B8AAE;
}

.activeMCQ:hover {
    color: white;  
    border: 2px solid #1B8AAE;
}

.menu-tab, .menu-tab div, .menu-tab-active, .menu-tab-active div {
    height: 40px !important;
}

.tabs-wrapper > div >div:first-child {
    position: fixed;
    bottom: 0;
}

.tabs-wrapper > div >div:nth-child(2) {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.menu-tab {
    background-color: #fafafa !important;
    border-top: 1px solid #ccc !important;
    /*border-right: 1px solid #f5f5f5 !important;
    border-left: 1px solid #f5f5f5 !important;*/
    box-shadow: #cccccc 0PX 8px 6px -4px inset;
}

.menu-tab-active {
    background-color: white !important;
    border-top: 1px solid #fff !important;
    border-right: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
}

.menu-tab svg {
    fill: #999 !important;
}

.menu-tab-active svg {
    fill: #1B8AAE !important
}

.nav-buttons {
    display: flex;
    position: fixed;
    top: 50%;
    width: 100%;
    justify-content: space-between;
    z-index: 0;
    color: #999;
    font-size: 0.8em;
    vertical-align: middle;
}

.progressbar-progress {
    height: 5px !important;
}

.hidden {
    display: none;
}

a {
    color: #1B8AAE !important;
}

.small {
    font-size: 0.9em;
}

.questionText {
    color: #444;
    margin-bottom: 1.5em;
    font-weight: bold
}

@media all and (min-width: 1024px) {
    .questionText {
        font-size: 2em
    }
    .answered, .answering-mode-wrapper {
        font-size: 0.9em
    }
}

@media all and (max-width: 1023px) and (min-width: 320px) {
    .questionText {
        font-size:1.8em
    }
    .answered, .answering-mode-wrapper {
        font-size: 0.8em
    }
}

@media(max-width: 319px) {
    .questionText {
        font-size:1em
    }
    .answered, .answering-mode-wrapper {
        font-size: 0.6em
    }
}

.questionBreak {
    color: blue;
}

.mcqBox {
    width: 10px;
} 

.answered {
    background-color: #f5f5f5;
    color: #999;
    height: auto;
    width: 100%;
    position: fixed;
    top: 28px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 3px;
    border-bottom: 2px dotted #1B8AAE;
}

.answering-mode-wrapper {
    position: fixed;
    top: 2px;
    width: inherit;
    left: 45%;
    z-index: 9999;
    color: #999;
    text-align: center;
}

.answering-mode-wrapper a:hover {
    cursor: pointer
}

.img-share {
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 3px;
}