.ResponsiveCardContainer {
  float: left;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: block;
}

@media only screen and (max-width: 700px) {
  .ResponsiveCardContainer {
    width: 100%;
  }
}
 