@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.heading {
    font-weight: 500;
    text-transform: uppercase;
    background: #1B8AAE;
    color: #fff !important;
    margin: 30px 0;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.containerSmall {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;
}

.inner {
    border: 1px solid #AABBC3;
    flex: 1;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

.inner p {
    margin: 3px 0;
    color: #999 !important;
    font-weight: normal !important;
}

.innerSmall {
    flex: 1;
    font-size: 14px;
    align-self: center;
    max-width: 100px;
}

.inner:hover {
    background-color: rgb(242, 242, 242);
}

.inner:nth-child(1),
.inner:nth-child(3) {
    border-left: none;
    border-right: none
}

.barContainer {
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    background-color: #e6ffff;
}

.sign-in-to-see {
    text-align: center;
    margin: 20px;
    color: #999;
}

.fb-send-to-messenger {
    width: 175px;
    margin: 7px auto;
    display: block;
}

.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

.links a  {  
    text-align: center;
    width: 25%;
    padding: 5px 0;
    margin: 10px 0;
}
.links a:hover {  
    background: #fff;
    color: #F4335E;
}
.links a:hover i {
    color: #F4335E;
}

.links a i { 
    color: #fff;
    text-align: center;
    width: 25%;
}


.personsharelinks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}
/*.personsharelinks button {
    width: 30px !important;
}
*/
.scrollbar .cardTitle,
.scrollbar .cardText {
    padding: 4px 16px !important;
    /*background: #F5FBFF !important;*/

}

.scrollbar .partyIntro,
.scrollbar .partyInfo  {
    background: #F4335E;
    color: #fff;
    text-align: center;
    padding: 10px !important;
}

.scrollbar .partyInfo  {
    text-align: left;
    font-size: 14px;
    line-height: 1.3;
    padding: 0px !important;
}
.scrollbar .partyInfo .statement  {
    padding: 10px 10px 5px 10px !important;
} 

.scrollbar {
    padding: 0 0 0 0 !important;
    overflow-x: hidden;
    background: #2B3F4D !important;
}

 
@media (max-width: 899px) {
    .scrollbar {
        width: calc((96vw)/2) !important;
        margin: 1vh 1vw !important;
    }
}

@media (min-width: 901px) {
    .scrollbar {
        width: calc((94vw - 260px)/3) !important;
        margin: 1vh 1vw !important;
    }
}

@media (max-width: 400px) {
    .scrollbar {
        width: 96vw !important;
        margin: 1vh 2vw !important;
    }
}

.fbMessage {
    /*border-bottom: 2px solid #1B8AAE;*/
    /*background: rgb(204, 85, 159);*/
    
    background-image: url('/img/messenger.png') !important;
    background-position: 0 51%;
    padding: 15px 10px 10px 10px;
    margin: 0 0 10px 0;
    text-align: center;
}

.fbMessage iframe {  
    margin-left: 40px;
}

.fbMessage p {
    margin: 0 auto 0px auto;
    max-width: 600px;
    color: #fff;
    /*background: rgba(255,255,255,0.4);*/
    font-size: 20px;
    font-weight: 100;
}
 
@media (min-width: 901px) {
    .fbMessage {
        width: calc(100vw-260px) !important;
    }
}
@media (max-width: 901px) {
    .fbMessage {
        /*width: calc(100vw) !important;*/
    }
}

.scrollbar div {
    padding-bottom: 0 !important;
}

#shareMe {
    position: fixed;
    display: none;
    bottom: 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0 3px !important;
    font-size: 12px;
    z-index: 10000000000000 !important;
}

#shareMe span {
    font-weight: bold;
}

#copyToClipboardEnd {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.fb-network__share-button div {
    margin: 0 8px;
}
