.container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.containerSmall{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-around;
}
.inner {
  border: 1px solid grey;
  flex: 1;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.5s ease;
}
.innerSmall {
  flex: 1;
  font-size: 14px;
  align-self: center;
  max-width: 100px;
}
.inner:hover{
  background-color: rgb(242, 242, 242);
}
.inner:nth-child(1), .inner:nth-child(3){
  border-left: none;
  border-right: none
}
.barContainer{
  width: 100%;
  min-height: 300px;
  overflow: hidden;
  background-color: #e6ffff;
}

.sign-in-to-see {
  text-align: center;
  margin: 20px;
  color: #999;
}


.fb-send-to-messenger {
  width: 175px;
  margin: 7px auto;
  display: block;
}
.slider-frame{
  overflow: visible !important;
}
.slider-decorator-2{
  height: 30px;
  overflow: hidden;
}
/*.slider-list{
  height: 900px;
  min-height: 500px;
  max-height: 900px;
}*/
