.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.0) 50%,rgba(0,0,0,0.3) 100%);
}

.contentBox {
    max-width: 600px;
    margin: 0 3vw;
    background: rgba(0,0,0,0.6);
    /*background: rgba(27,137,174, 0.85);*/
    /*background: rgba(255,255,255,0.7);*/
    padding: 10px 10px 20px 10px;
    border-radius: 10px;
    text-align: center;
    /*border: 6px solid #fff;*/
    /*box-shadow: 3px 3px 6px #000;*/
}

.contentBox h1 {
	margin: 0.2em;
	font-size: 30px;
	text-shadow: 1px 1px 3px #000;

    font-family: 'Source Sans Pro', sans-serif;
	/*color: #1B8AAE;*/
}

.contentBox .moreText {
	text-shadow: 1px 1px 3px #000;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}

.moreContent {
	align-self: flex-end;
	width: 100%;
	background: rgba(0,0,0,0.4);
	padding: 5px;
}

.contentBox  {
	color: #fff !important;
}

.contentBox a {
    color: #fff !important;
    font-weight: bold;
    border-bottom: 1px solid ;
}

.markDownText p {
    max-width: 600px;
    font-size: 18px;
}
