.introslidesBody div div {
  padding: 1px 0px !important;
  margin: 0px !important;
}
.cardStyleIntro {
  width: 100%; 
  position: none;
  display: block;
  margin: 40px 0  !important;
  vertical-align: top; 
  border: none;
}
.carouselMedia{
  max-height: 250px;
  max-width: 90%;
  margin: 0 auto;
}

/*for small screens*/
@media screen and (max-width: 419px) {
   .cardStyleIntro {
    /*width: 250px;*/
    /*margin: 10px auto;*/
    display: block;
    font-size: 14px;
    }
    .carouselMedia{ 
    }
} 