.share-tab {
    text-align: center
}

.img-share {
    width: 80%;
}

@media all and (max-width: 599px) {
    .img-share {
        width: 90%;
    }
}

@media all and (max-width: 900px) and (min-width: 600px) {
    .img-share {
        width: 80%;
    }
}

@media all and (max-width: 1200px) and (min-width: 900px) {
    .img-share {
        width: 60%;
    }
}

.SocialMediaShareButton {
    display: inline-block;
}
