.endPage {
    /*background-image: url('/img/repbg.png') !important;*/
    padding-top: 10px !important;
    background: #F6F7F9;
}

.bar {
    margin: 0 10px;
    padding: 2px;
    color: #333;
    font-size: 9px;
    text-indent: 2px;
    z-index: 2;
    display: inline-block;
    white-space: nowrap;
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
    text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
    transition: width 0.7s ease-out;
}

.barEndScreen {
    height: 12px;
}

.bar:hover {
    opacity: 0.8;
}

.bar:focus {
    opacity: 0.8;
}

.bg_bar {
    margin: 0 10px 0px 0;
    font-size: 6px;
    /*width: 100%; */
    z-index: 1;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0)
}

.bg_bar:hover {
    background-color: #f5f5f5;
}

.tinynumber {
    font-weight: bold;
}

.tinytext {
    font-weight: bold;
    color: #999;
    padding-right: 5px;
}

.endCard {
    box-shadow: 2px 2px 3px #ccc !important;
    border-radius: 0;
    margin: 10px;
    width: 300px;
    border: 1px solid #ccc;
}

.shareMe {
    display: 'flex';
    flex: 1;
    flex-flow: 'row nowrap';
    justify-content: 'space-around';
    align-items: 'center';
}

.questionTextEnd {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #222;
    text-align: left;
}

.didnotanswer {
    color: #999;
    font-size: 16px;
    font-weight: normal;
}

.linkit {
    color: #1B8AAE;
    text-decoration: underline;
    cursor: pointer;
}

.percentage {
    position: relative;
    float: right;
    margin: 5px;
    -webkit-transform: translate3d(0, 0, 0)
}

.percentageEndScreen {
    position: relative;
    float: right;
    font-size: 8px;
    margin: 2px 0px 0px 0px;
    -webkit-transform: translate3d(0, 0, 0)
}

.percentageEndScreen,
.barEndScreen {
    font-size: 11px;
}

.text {
    position: relative;
    float: left;
    margin: 5px;
    -webkit-transform: translate3d(0, 0, 0)
}

.message {
    font-size: 10px;
    color: darkgrey;
    margin-left: 10%;
}
