.bar{
  margin-left: 0;
  padding: 2px;
  font-size: 12px; 
  z-index: 2;
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
  text-shadow: 1px 1px 2px white;
  transition: width 0.7s ease-out;
}
.bar:hover{
  opacity: 0.8;
}
.bar:focus{
  opacity: 0.8;
}
.bg_bar{
  margin: 0 2px 2px 0; 
  font-size: 8px;
  width: 100%; 
  z-index: 1; 
  position: relative;
  -webkit-transform: translate3d(0,0,0)
}
.bg_bar:hover{
  background-color: #e6e6e6;
}
.percentage{
  position: relative;
  float: right;
  margin: 5px;
  -webkit-transform: translate3d(0,0,0)
}
.percentageEndScreen{
  position: relative;
  float: right;
  font-size: 12px;
  margin: 2px 0px 0px 0px;
  -webkit-transform: translate3d(0,0,0)
}
.barEndScreen{
  font-size: 12px;
}
.text{
  position: relative;
  float: left;
  margin: 5px;
  -webkit-transform: translate3d(0,0,0)
}
.message{
  font-size: 10px;
  color: darkgrey;
  margin-left: 10%;
}
