.text-xs {
  font-size: 0.75rem
}

.comments-wrapper {
  position: relative;
  width: 100%;
  height: 99%;
  color: #818a91;
  font-size: 0.875rem;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgba(0, 0, 0, 0.035);
}

.comments-list {
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: scroll;
  overflow-x: hidden;
}


.comment {
  width: 100%;
  margin-bottom: 15px;
}

.comment .votes {
  float: left;
  position: relative;
  width: 20px;
  text-align: center;
}

.comment .content {
  padding: 5px 20px 5px 10px;
}

.comment .content .comment-data .author {
  cursor: pointer;
}

.comment .content .comment-data .author img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 1px solid #2e3e4e;
  border-radius: 3px;
}

.comment .content .comment-data .author .name {
  margin-left: 5px;
  font-weight: 600;
  color: #1B8AAE;
}

.comment .content .comment-data .pull-right {
  float: right;
}

.comment .content .comment-data .pull-right .type {
  padding: 0 0.25rem;
  opacity: 0.6;
  color: inherit;
  background-color: #fff;
  border: 1px solid rgba(120, 130, 140, 0.13);
  border-radius: 3px;
}

.comment .content .comment-data .pull-right .author-answer {
  padding: 0 0.25rem;
  color: white;
  border: 1px solid rgba(120, 130, 140, 0.13);
  border-radius: 3px;
}

.comment .content .comment-data .pull-right .author-answer.s-agree {
  background: #4AB246;
}
.comment .content .comment-data .pull-right .author-answer.agree {
  background: #85CA66;
}
.comment .content .comment-data .pull-right .author-answer.neutral {
  background: #C6C7CA;
}
.comment .content .comment-data .pull-right .author-answer.disagree {
  background: #F98375;
}
.comment .content .comment-data .pull-right .author-answer.s-disagree {
  background: #F43829;
}
.comment .content .comment-data .pull-right .author-answer.private {
  background: black;
}

.comment .content .comment-data .comment-text {
  font-size: 0.8rem;
}

.comment .content .comment-data .comment-text p {
  margin: 10px 0;
}

.comment .content .buttons {
  font-size: 0.8rem;
}

.comment .content .buttons a {
  cursor: pointer;
}

.comment .content .buttons a.report {
  color: #818a91;
}

.comment .content .buttons a.delete {
  color: #F98375;
}