.containerStyles {
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #F6F7F9;
    /*background: url('/img/repbg.png') !important;*/
    justify-content: space-around;
}

.cardStyles {
    width: 23% !important;
    margin: 1% !important;
    box-shadow: 2px 2px 3px #aaa !important;
    border: 1px solid transparent;
}
.cardStyles:hover {
    border: 1px solid #1B8AAE;
}
 

/*for small screens*/



@media (max-width: 949px) {
    .cardStyles {
        width: 32% !important;
        margin: 0.5% !important;
    }
}

@media  (max-width: 700px) {
    .cardStyles {
        width: 49% !important;
        margin: 0.5% !important;
    }
}
@media (max-width: 350px) {
    .cardStyles {
        width: 98% !important;
        margin: 1% !important;
    }
}
.cardStyles .cardTitle,
.cardStyles .cardText {
    padding: 4px 16px !important;
}

.cardStyles .cardTitle span {
    line-height: 20px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.cardStyles .cardTitle span:hover {
    color: #1B8AAE !important;
}

.cardStyles .cardText span {
    line-height: 24px !important;
}

.cardHeaderStyle:hover {
    opacity: 0.8;
}

.imgStyle:hover {
    opacity: 0.8;
}
